   /* Estilos para o modal */
   body {
    font-family: Arial, sans-serif;
}

#myModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

#myModal .modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
}

#myModal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#myModal .close:hover,
#myModal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.tabela-resultados {
    display: none;
  }



#myModalSucess {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

#myModalSucess .modal-content {
    background-color: #fefefe;
    margin: 8% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

#myModalSucess .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#myModalSucess .close:hover,
#myModalSucess .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


#myModalEdit {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

#myModalEdit .modal-content {
    background-color: #fefefe;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

#myModalEdit .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#myModalEdit .close:hover,
#myModalEdit .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}




#myModalDelete {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

#myModalDelete .modal-content {
    background-color: #fefefe;
    margin: 8% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

#myModalDelete .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#myModalDelete .close:hover,
#myModalDelete .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



#myModalLog {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

#myModalLog .modal-content {
    background-color: #fefefe;
    margin: 8% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

#myModalLog .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#myModalLog .close:hover,
#myModalLog .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



#myModalShow {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

#myModalShow .modal-content {
    background-color: #fefefe;
    margin: 8% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

#myModalShow .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#myModalShow .close:hover,
#myModalShow .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}