body {
    overflow: hidden;
}

.topbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 100;
}

.sidebar {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

#content-wrapper {
    overflow: auto;
    max-height: 100vh;
}

.sidebar-dark .nav-item .nav-link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar-brand .sidebar-brand-icon {
    height: 26px;
}

.sidebar-dark .nav-item .nav-link .material-symbols-outlined {
    font-size: 1.35rem;
}

@media (min-width: 768px) {
    .sidebar {
        width: 280px !important;
    }
}